
:root {
  --primary-color: #626368;
}

body{
    background-color:#E2E3E6;
}

.header{
    background-color:#434549;
}
.header-one{
    background-color:#434549;
}

h1{
    color: var(--primary-color);
}
.wrapping{
    border:2px solid #9C9E9B  ;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 2px;
}



h2{
    color: var(--primary-color);
    font-style: italic;

}

h3{
    color: var(--primary-color);
}

h3:hover{
    color:rgb(50, 199, 162) ;
}


.bg-info-subtle{
    background-color: #434549 !important;
    color: white;
}

a{
    text-decoration: none;
    color: var(--primary-color);
    
}

a:hover{
    color:rgb(50, 199, 162);
}



.bright:hover{
    color:rgb(50, 199, 162) ;
    font-size: large;
}


li{
    list-style: none;
}

.mySlides{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #9fa0a5;
}

.descrip{
    padding: 10px;
    margin:10px;
}



footer{
    background-color: #434549;
    color: white;
}


.box{
  font-size: 20px;
  font-family: sans-serif;
  
   
}


.boxes {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-row-gap: 30px;
  grid-column-gap: 20px;
 
}